/*colors*/
/*buttons*/
.button {
  text-decoration: none;
  text-transform: capitalize;
  color: #FBFCFB;
  box-shadow: 0 0 20px transparent;
  font-weight: 500;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: 0.5s;
  display: inline-block;
  border: 1px solid #de72b8;
  border-bottom-width: calc(.2rem + .0625rem);
}
.button:hover {
  box-shadow: 0 0 20px #FF8AD6;
  transform: scale(1.1);
  color: #FBFCFB;
}
.button:focus {
  box-shadow: 0 0 20px #FF8AD6;
  transform: scale(1.1);
}
.button i {
  margin-right: 1rem;
}

.button-dark {
  background-color: #FF8AD6;
}

.button-light {
  background-color: #FBFCFB;
  color: #FF8AD6;
  border: 1px solid #d2d2d2;
  border-bottom-width: calc(.2rem + .0625rem);
}

.button-nav {
  border: 2px solid #FBFCFB;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
.button-nav:hover {
  background-color: #FBFCFB;
}
.button-nav:focus {
  background-color: #FBFCFB;
}

.button-gh {
  background-color: #24292e;
  border: 1px solid #423e3e;
  border-bottom-width: calc(.2rem + .0625rem);
}
.button-gh:hover {
  background-color: #2ea44f;
  box-shadow: 0 0 20px #4A4946;
  color: #FBFCFB;
}

@media (max-width: 992px) {
  .button {
    width: 100%;
    text-align: center;
  }
}
/*Waves*/
.blobs {
  width: 60rem;
  position: absolute;
  z-index: -1;
  right: 50%;
  bottom: 30%;
}

/*Navbar*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: #FF8AD6;
  align-items: center;
  padding: 1rem 0;
}
.header .logo {
  margin-left: 1rem;
  font-size: 4rem;
  position: relative;
}
.header .logo a {
  color: #FBFCFB;
  text-decoration: none;
  text-shadow: 0 0 0px transparent;
  position: relative;
  animation-name: logo-animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.header .logo a:hover {
  text-shadow: 0 0 30px #FBFCFB;
}
.header .logo a:focus {
  text-shadow: 0 0 30px #FBFCFB;
}
.header .logo::after {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 0.3rem;
  background-color: #4A4946;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes logo-animate {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 1rem;
  }
  100% {
    bottom: 0;
  }
}
.header .navbar .navbar__ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.header .navbar .navbar__ul li {
  margin-right: 1rem;
}
.header .navbar .navbar__ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #FBFCFB;
  text-shadow: 0 0 0px transparent;
  transition: 0.3s;
}
.header .navbar .navbar__ul li a:hover {
  font-weight: 700;
  text-shadow: 0 0 30px #FBFCFB;
}
.header .navbar .navbar__ul li a:focus {
  font-weight: 700;
  text-shadow: 0 0 30px #FBFCFB;
}
.header .navbar .navbar__ul li .button-nav:hover {
  color: #FF8AD6;
  text-shadow: 0 0 0px transparent;
  font-weight: 400;
}
.header .navbar .navbar__ul li .button-nav:focus {
  color: #FF8AD6;
  text-shadow: 0 0 0px transparent;
  font-weight: 400;
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }
  .header .navbar__ul {
    flex-direction: column;
    align-items: center;
  }
  .header .navbar__ul li {
    margin-bottom: 1rem;
  }
}
/*Top section*/
.top-section {
  width: 100%;
}
.top-section .top-section__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.top-section .top-section__content .top-section__text {
  width: max-content;
  margin-right: 5rem;
}
.top-section .top-section__content .top-section__text h2 {
  font-size: 3rem;
}
.top-section .top-section__content .top-section__text p {
  font-size: 3rem;
  font-weight: 700;
  color: #CDC5BA;
}
.top-section .top-section__content .top-section__img {
  width: 40%;
}
.top-section .top-section__dates {
  display: flex;
  justify-content: center;
}
.top-section .top-section__dates dl {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.top-section .top-section__dates dl .top-section__dates__item {
  margin-right: 10rem;
}
.top-section .top-section__dates dl .top-section__dates__item:last-of-type {
  margin: 0;
}
.top-section .top-section__dates dl .top-section__dates__item dt {
  font-weight: 700;
}
.top-section .top-section__dates dl .top-section__dates__item dd {
  margin: 0;
}
.top-section .top-section__dates dl .top-section__dates__item dd a {
  color: #4A4946;
  text-decoration: none;
}

@media (max-width: 992px) {
  .top-section {
    padding-bottom: 5rem;
  }
  .top-section .top-section__content {
    height: auto;
  }
  .top-section .top-section__content .top-section__text {
    margin: 0;
  }
  .top-section .top-section__content .top-section__img {
    width: 55%;
    order: -1;
  }
}
@media (max-width: 480px) {
  .top-section .top-section__content .top-section__img {
    width: 90%;
  }
}
/*About me*/
.about {
  background-image: url("../assets/img/bg-about.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FBFCFB;
  padding: 10rem;
  height: 124rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about__head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.about .about__dates {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.about .about__dates .dates__img img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  object-position: 50% 30%;
  border-radius: 50%;
  margin-right: 3rem;
  margin-top: 3rem;
  box-shadow: 5px 6px 0px 0px rgba(0, 0, 0, 0.24);
}
.about .about__dates .dates__text ul {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}
.about .about__dates .button:hover {
  color: #FF8AD6;
}

@media (max-width: 992px) {
  .about {
    padding: 5rem;
    text-align: center;
  }
  .about .about__head {
    width: 100%;
  }
  .about .about__dates .dates__img img {
    margin-right: 0;
  }
}
/*Services*/
.services {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.services .services__content {
  display: flex;
  flex-direction: column;
}
.services .services__content .services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 40rem;
  background-color: #FBFCFB;
  box-shadow: 2px 5px 9px -4px rgba(0, 0, 0, 0.75);
  padding: 5rem;
  border-radius: 1rem;
  transition: 0.5s;
}
.services .services__content .services__item:hover {
  transform: scale(1.1);
}
.services .services__content .services__item:focus {
  transform: scale(1.1);
}
.services .services__content .services__item .item__img {
  width: 50%;
}
.services .services__content .services__item .item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  .services {
    width: 90%;
    margin: 0 auto;
  }
  .services .services__content .services__item {
    width: auto;
  }
}
/*works*/
.works {
  background-image: url("../assets/img/bg-works.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FBFCFB;
  height: 124rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.works .carousel {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.works .carousel .carousel-inner {
  width: 50%;
  background-color: #FBFCFB;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 2px 5px 9px -4px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}
.works .carousel .carousel-inner:hover {
  transform: scale(1.1);
}
.works .carousel .carousel-inner:focus {
  transform: scale(1.1);
}
.works .carousel .carousel-inner .works__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.works .carousel .carousel-inner .works__item .works__img {
  display: flex;
  justify-content: center;
}
.works .carousel .carousel-inner .works__item .works__img img {
  width: 100%;
}
.works .carousel .carousel-inner .works__item .works_button {
  display: flex;
  justify-content: space-between;
}
.works .carousel .carousel-inner .works__item .works_button .button {
  margin-right: 1rem;
}
.works .carousel .carousel-inner .works__item .works_button .button:last-of-type {
  margin: 0;
}

@media (max-width: 992px) {
  .works .carousel .carousel-inner {
    width: 90%;
    padding: 2rem;
  }
  .works .carousel .carousel-inner .works__item .works_button {
    flex-direction: column;
    width: 100%;
  }
  .works .carousel .carousel-inner .works__item .works_button .button {
    margin: 0 0 1rem 0;
  }
}
/**Skills**/
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
}
.skills .skills__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 20rem);
  column-gap: 2rem;
}
.skills .skills__container .skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  text-align: center;
}
.skills .skills__container .skills__item i {
  font-size: 5rem;
  order: -1;
  transition: 0.5s;
}
.skills .skills__container .skills__item:last-of-type {
  grid-column-start: 2;
}
.skills .skills__container .skills__item:hover {
  transform: scale(1.2);
}
.skills .skills__container .skills__item:hover > .fa-html5 {
  color: #e96228;
}
.skills .skills__container .skills__item:hover > .fa-css3-alt {
  color: #01a7dd;
}
.skills .skills__container .skills__item:hover > .fa-sass {
  color: #bf608f;
}
.skills .skills__container .skills__item:hover > .fa-bootstrap {
  color: #533b78;
}
.skills .skills__container .skills__item:hover > .fa-code {
  color: #f44336;
}
.skills .skills__container .skills__item:hover > .fa-js {
  color: #f7d901;
}
.skills .skills__container .skills__item:hover > .fa-git-alt {
  color: #e94e31;
}
.skills .skills__container .skills__item:hover > .fa-database {
  color: #3295db;
}
.skills .skills__container .skills__item:hover > .fa-cloud {
  color: #4d8aef;
}
.skills .skills__container .skills__item:hover > .fa-network-wired {
  color: #00b6e3;
}

@media (max-width: 480px) {
  .skills .skills__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 10rem);
    column-gap: 0;
    row-gap: 2rem;
  }
  .skills .skills__container .skills__item:last-of-type {
    grid-column-start: 1;
  }
}
/*Reset del font-size*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-color: #FBFCFB;
  color: #4A4946;
}

/*headings*/
h1 {
  font-size: 5rem;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 5rem;
}

h3 {
  font-weight: 600;
}

/*img*/
img {
  width: 100%;
  height: auto;
}

/*utilities*/
.container {
  width: 90%;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
