/*colors*/
/*buttons*/
.btn {
  text-decoration: none;
  text-transform: capitalize;
  color: #FBFCFB;
  box-shadow: 0 0 20px transparent;
  font-weight: 500;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: 0.5s;
  display: inline-block;
}
.btn:hover {
  box-shadow: 0 0 20px #FF8AD6;
  transform: scale(1.1);
}
.btn:focus {
  box-shadow: 0 0 20px #FF8AD6;
  transform: scale(1.1);
}
.btn i {
  margin-right: 1rem;
}

.btn-dark {
  background-color: #FF8AD6;
}

.btn-light {
  background-color: #FBFCFB;
  color: #FF8AD6;
}

.btn-nav {
  border: 2px solid #FBFCFB;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
.btn-nav:hover {
  background-color: #FBFCFB;
}
.btn-nav:focus {
  background-color: #FBFCFB;
}

/*Waves*/
.waves__top {
  width: 100%;
  position: absolute;
  top: -19rem;
  z-index: -1;
}

.waves__bottom {
  width: 100%;
  position: absolute;
  bottom: -19rem;
  z-index: -1;
}

.blobs {
  width: 60rem;
  position: absolute;
  z-index: -1;
  right: 50%;
  bottom: 30%;
}

/*Navbar*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: #FF8AD6;
  align-items: center;
  padding: 1rem 0;
}
.header .logo {
  margin-left: 1rem;
  font-size: 4rem;
}
.header .logo a {
  color: #FBFCFB;
  text-decoration: none;
  text-shadow: 0 0 0px transparent;
  position: relative;
  animation-name: logo-animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.header .logo a:hover {
  text-shadow: 0 0 30px #FBFCFB;
}
.header .logo a:focus {
  text-shadow: 0 0 30px #FBFCFB;
}
@keyframes logo-animate {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 1rem;
  }
  100% {
    bottom: 0;
  }
}
.header .navbar .navbar__ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.header .navbar .navbar__ul li {
  margin-right: 1rem;
}
.header .navbar .navbar__ul li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #FBFCFB;
  text-shadow: 0 0 0px transparent;
  transition: 0.3s;
}
.header .navbar .navbar__ul li a:hover {
  font-weight: 700;
  text-shadow: 0 0 30px #FBFCFB;
}
.header .navbar .navbar__ul li a:focus {
  font-weight: 700;
  text-shadow: 0 0 30px #FBFCFB;
}
.header .navbar .navbar__ul li .btn-nav:hover {
  color: #FF8AD6;
  text-shadow: 0 0 0px transparent;
  font-weight: 400;
}
.header .navbar .navbar__ul li .btn-nav:focus {
  color: #FF8AD6;
  text-shadow: 0 0 0px transparent;
  font-weight: 400;
}

/*Top section*/
.top-section {
  width: 100%;
}
.top-section .top-section__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.top-section .top-section__content .top-section__text {
  width: max-content;
  margin-right: 5rem;
}
.top-section .top-section__content .top-section__text h2 {
  font-size: 3rem;
}
.top-section .top-section__content .top-section__text p {
  font-size: 3rem;
  font-weight: 700;
  color: #CDC5BA;
}
.top-section .top-section__content .top-section__img {
  width: 40%;
}
.top-section .top-section__dates {
  display: flex;
  justify-content: center;
}
.top-section .top-section__dates dl {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.top-section .top-section__dates dl .top-section__dates__item {
  margin-right: 10rem;
}
.top-section .top-section__dates dl .top-section__dates__item:last-of-type {
  margin: 0;
}
.top-section .top-section__dates dl .top-section__dates__item dt {
  font-weight: 700;
}
.top-section .top-section__dates dl .top-section__dates__item dd {
  margin: 0;
}
.top-section .top-section__dates dl .top-section__dates__item dd a {
  color: #4A4946;
  text-decoration: none;
}

/*About me*/
.about {
  background-color: #FF8AD6;
  color: #FBFCFB;
  padding: 5rem 0 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 10rem 0;
  position: relative;
}
.about .about__head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.about .about__dates {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.about .about__dates .dates__img {
  width: 30rem;
}
.about .about__dates .dates__text ul {
  list-style: none;
  padding: 0;
}

/*Services*/
.services {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.services .services__content {
  display: flex;
  flex-direction: column;
}
.services .services__content .services__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  width: 40rem;
  background-color: #FBFCFB;
  box-shadow: 2px 5px 9px -4px rgba(0, 0, 0, 0.75);
  padding: 5rem;
  border-radius: 1rem;
  transition: 0.5s;
}
.services .services__content .services__item:hover {
  transform: scale(1.1);
}
.services .services__content .services__item:focus {
  transform: scale(1.1);
}
.services .services__content .services__item .item__img {
  width: 50%;
}
.services .services__content .services__item .item__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Reset del font-size*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  background-color: #FBFCFB;
  color: #4A4946;
}

/*headings*/
h1 {
  font-size: 5rem;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-size: 5rem;
}

/*img*/
img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
