@import 'components/colors';
@import 'components/btn';
@import 'components/waves';
@import 'layout/nav';
@import 'layout/topsection';
@import 'layout/about';


/*Reset del font-size*/
html{
	font-size: 62.5%;
}

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	background-color: $white;
	color: $black;
}

/*headings*/

h1{
	font-size: 5rem;
}

h2{
	font-size: 3rem;
}

/*img*/

img{
	width: 100%;
	height: auto;
}