@import 'components/colors';
@import 'components/btn';
@import 'components/waves';
@import 'layout/nav';
@import 'layout/topsection';
@import 'layout/about';
@import 'layout/services';
@import 'layout/works';
@import 'layout/skills';
@import 'layout/contact';

/*Reset del font-size*/
html{
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	background-color: $white;
	color: $black; 
}

/*headings*/

h1{
	font-size: 5rem;
}

h2{
	font-family: 'Archivo Black', sans-serif;
	font-size: 5rem;
}

h3{
	font-weight: 600;
}

/*img*/

img{
	width: 100%;
	height: auto;
}

/*utilities*/

.container{
	width: 90%;
	margin: 0 auto;
}
