
/*About me*/

.about{
	background-image: url('../assets/img/bg-about.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	padding: 10rem;
	height: 124rem;
	

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	.about__head{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 50%;

	}

	.about__dates{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;

		.dates__img{
			width: 30rem;
		}

		.dates__text{
			ul{
				list-style: none;
				padding: 0;
			}

		}

		.button{
			&:hover{
				color: $branding;
			}
		}
	}
}