
/*About me*/

.about{
	background-image: url('../assets/img/bg-about.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	padding: 10rem;
	height: 124rem;
	

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


	.about__head{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		width: 50%;

	}

	.about__dates{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;

		

		.dates__img{
			img{
				width: 25rem;
				height: 25rem;
				object-fit: cover;
				object-position: 50% 30%;
				border-radius: 50%;
				margin-right: 3rem;
				margin-top: 3rem;
			}
		}

		.dates__text{
			ul{
				list-style: none;
				padding: 0;
				margin-top: 3rem;
			}

		}

		.button{
			&:hover{
				color: $branding;
			}
		}
	}
}

@media (max-width: 992px){
	.about{
		.about__head{
			width: 100%;
		}

		.about__dates{
			.dates__img{
				img{
					
				}
			}
		}
	}
}
