
/*Services*/

.services{
	padding: 10rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;

	.services__content{
		display: flex;
		flex-direction: column;


		.services__item{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 5rem;
			width: 40rem;

			background-color: $white;
			box-shadow: 2px 5px 9px -4px rgba(0,0,0,0.75);
			padding: 5rem;
			border-radius: 1rem;
			transition: .5s;

			&:hover{
				transform: scale(1.1);
			}

			&:focus{
				transform: scale(1.1);
			}

			.item__img{
				width: 50%;
			}

			.item__text{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}

@media (max-width: 480px){
	.services{
		width: 90%;
		margin: 0 auto;

		.services__content{
			.services__item{
				width: auto;
			}

		}
	}
}