/*Top section*/

.top-section{
	width: 100%;
	
	.top-section__content{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 80vh;

		.top-section__text{
			width: max-content;
			margin-right: 5rem;

			h2{
				font-size: 3rem;
			}

			p{
				font-size: 3rem;
				font-weight: 700;
				color: $gray;
			}
		}

		.top-section__img{
			width: 40%;
		}
	}

	.top-section__dates{
		display: flex;
		justify-content: center;
		dl{
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			.top-section__dates__item{
				margin-right: 10rem;

				&:last-of-type{
					margin: 0;
				}

				dt{
					font-weight: 700;
				}
				dd{
					margin: 0;

					a{
						color: $black;
						text-decoration: none;
					}
				}
			}


		}
	}
}
@media (max-width: 992px){
	.top-section{
		padding-bottom: 5rem;

		.top-section__content{
			height: auto;
			.top-section__text{
				margin: 0;
			}

			.top-section__img{
				width: 55%;
				order: -1;
			}
		}
	}
}

@media (max-width: 480px){
	.top-section{
		.top-section__content{
			.top-section__img{
				width: 90%;
			}
		}
	}
}