/*works*/

.works {
    background-image: url('../assets/img/bg-works.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    height: 124rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .carousel {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        .carousel-inner {
            width: 50%;

            background-color: $white;
            padding: 5rem;
            border-radius: 1rem;
            box-shadow: 2px 5px 9px -4px rgba(0, 0, 0, 0.75);
            transition: .5s;

            &:hover {
                transform: scale(1.1);
            }

            &:focus {
                transform: scale(1.1);
            }

            .works__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                
                .works__img {
                    display: flex;
                    justify-content: center;

                    img {
                        width: 100%;
                    }
                }

                .works_button {
                    display: flex;
                    justify-content: space-between;

                    .button {
                        margin-right: 1rem;

                        &:last-of-type {
                            margin: 0;
                        }
                    }

                }
            }
        }
    }
}

@media (max-width: 992px){
	
	.works{
		.carousel{
			.carousel-inner{
				width: 90%;
                padding: 2rem;

				.works__item{
					.works_button{
						flex-direction: column;
						width: 100%;

						.button{
							margin: 0 0 1rem 0;
						}
					}
				}
			}
		}
	}
}