
/*buttons*/

.button{
	text-decoration: none;
	text-transform: capitalize;
	color: $white;
	box-shadow: 0 0 20px transparent;
	font-weight: 500;
	border-radius: 5px;
	padding: 1rem 2rem;
	transition: .5s;
	display: inline-block;
	border: 1px solid #de72b8;
	border-bottom-width: calc(.2rem + .0625rem);

	&:hover{
		box-shadow: 0 0 20px $branding;
		transform: scale(1.1);
		color: $white;
	}

	&:focus{
		box-shadow: 0 0 20px $branding;
		transform: scale(1.1);		
	}
	
	i{
		margin-right: 1rem;
	}
}

.button-dark{
	background-color: $branding;
}

.button-light{
	background-color: $white;
	color: $branding;
	border: 1px solid #d2d2d2;
	border-bottom-width: calc(.2rem + .0625rem);
}

.button-nav{
	border: 2px solid $white;
	padding: .5rem 2rem;
	border-radius: 2rem;

	&:hover{
		background-color: $white;
	}

	&:focus{
		background-color: $white;		
	}
}

.button-gh{
	background-color: #24292e;
	border: 1px solid #423e3e;
	border-bottom-width: calc(.2rem + .0625rem);

	&:hover{
		background-color: #2ea44f;
		box-shadow: 0 0 20px $black;
		color: $white;
	}
}


@media (max-width: 992px){

	.button{
		width: 100%;
		text-align: center;
	}
	
}