/*Waves*/

.waves__top{
	width: 100%;
	position: absolute;
	top: -19rem;
	z-index: -1;
}

.waves__bottom{
	width: 100%;
	position: absolute;
	bottom: -19rem;
	z-index: -1;
}

.blobs{
	width: 60rem;
	position: absolute;
	z-index: -1;
	right: 50%;
	bottom: 30%;
}